/*Página Linguagens*/
.cardsAreaLinguagens {
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;;
}

.cardsLinguagens {
    height: 300px;
    border-radius: 20px;
    border: solid;
    border-color: white;
    border-width: 2px;
}